* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

div .mobile-fix {
  @media (max-width: 360px - 1px) {
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  color: $rmd-deep-orange-a-400;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-content {
  flex-grow: 1;
  padding: 2rem;
}

