* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-content {
  flex-grow: 1;
  padding: 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');

@import '~react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-deep-orange-a-400;

@include react-md-everything;
