* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-content {
  flex-grow: 1;
  padding: 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');

@import './variables';
@import '~react-md/dist/react-md';

@include react-md-utils;
